html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}
body{
	font-family: "Segoe UI", Verdana;
	text-align: center;
	text-shadow: rgba(0,0,0,0.01) 0 0 1px;
}
body * {
	margin: 0;
	padding: 0;
	text-align: left;
}

header {
	color: #555;
	font-size: 25pt;
	font-weight: bold;
}
header ul {
	list-style-type: none;
}
header li {
	cursor: pointer;
	display: inline;
	padding: 2px;
	margin: 1px 8px;
}
#rooms {
	font-size: 0.75em;
	font-weight: normal;
}

header li.active {
	color: #19A2DE;	
}
header li.nonitem {
	color: #CCC;	
}

#chat {
	bottom: 0;
	border-spacing: 0;
	font-family: "Calibri";
	padding-bottom: 1.5em;
	position: absolute;
}

#chat #log .author, #chat #log .status {
	color: #666;
}

#chat #log .status td {
	background-color: #FAFAFA;
	border-top: 4px solid #FAFAFA;
	vertical-align: baseline;
}

#chat #log .author {
	padding-right: 1em;
	text-align: right;
	vertical-align: top;
}

#chat #log .me {
	color: #222;
}

#chat #log .mention {
	color: #19A2DE;
}

#talk {
	background-color: #EEE;
	border-style: none;
	bottom: 0;
	font-size: 1.5em;
	position: absolute;
	width: 100%;
}
#talk:focus {
	background-color: #DDD;
	outline: none;
}
